<section class="book-display-section">
  <div class="sub-navigate">
    <div class="sub-link">
        <ul>
          <li onclick='BookGenreLink(event, "browse comics", "comicListing")' class="sub-link-active"><a >Browse All</a></li>
          <li onclick='BookGenreLink(event, "DC Comics", "comicListing")'><a>DC Comics</a></li>
          <li onclick='BookGenreLink(event, "Marvel Comics", "comicListing")'><a>Marvel Comics</a></li>
          <li onclick='BookGenreLink(event, "Others", "comicListing")'><a>Others</a></li>
        </ul>
      </div>
      <%- include('./search-form.ejs')%>
  </div>
  <div class="search-result">
    
  </div>
<hr style="width: 50%">

  <div id="comicListing" class="book-listing-stand">
    <% bookdata.Items.forEach(function(book, index){ 
      var imgurl = 'https://donkie-booket.s3-us-west-2.amazonaws.com/' + ((book.title.S).replace(" ","+")) + '/cover.jpg'; %>
    <div class="book-display" onclick="OpenBook(event, '<%= book.title.S%>', 'comic')">
      <img src="<%= imgurl%>">
      <p><%= book.title.S %></p>
    </div>
    <%})%>
    <%if (typeof bookdata.LastEvaluatedKey != 'undefined'){%>
    <button type="button" onclick="FetchMore(event, 'comic', 'comicListing')" class="load-button" data-lastkey='<%= JSON.stringify(bookdata.LastEvaluatedKey)%>'>Load More</button>
    <%}else {%>
    <button type="button" data-lastkey="" disabled>Load More</button>
    <%}%>
  </div>

</section>
