<section id='mangaSection'>
  <div class="sec-tag manga-tag">
    <h3>Manga - Manhwa - Manhua</h3>
  </div>

  <div class="sec-body manga-body">
    <a onclick="ListBook(event, 'manga')" style="cursor: pointer">BROWSE MORE</a>
    <div class="book-stand">
      <% mangadata.Items.forEach(function(manga, index){ 
          var imgurl = "https://donkie-booket.s3-us-west-2.amazonaws.com/" + (manga.title.S).replace(" ","+") + "/cover.jpg";
        %>
        <div onclick="OpenBook(event, '<%= manga.title.S%>', 'manga')">
          <img src="<%= imgurl%>">
          <p><%= manga.title.S%></p>
        </div>
        
      <%})%>
    </div>
  </div>
</section>
<br>
<hr>
<br>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- long ass -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3062165550077294"
     data-ad-slot="6098038718"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<section id='comicSection'>
  <div class="sec-tag comic-tag">
    <h3>Comics - Graphic Novels</h3>
  </div>
  
  <div class="sec-body comic-body">
    <a onclick="ListBook(event,'comic')" style="cursor: pointer">BROWSE MORE</a>
    <div class="book-stand">
      <% comicdata.Items.forEach(function(comic, index){ 
        var imgurl = "https://donkie-booket.s3-us-west-2.amazonaws.com/" + (comic.title.S).replace(" ","+") + "/cover.jpg";
        %>
        <div onclick="OpenBook(event, '<%= comic.title.S%>', 'comic')">
          <img src="<%= imgurl%>" >
          <p><%= comic.title.S%></p>
        </div>
      <%})%>
    </div>
    
  </div>
</section>

