<% bookdata.Items.forEach(function(book, index){ 
  var imgurl = 'https://donkie-booket.s3-us-west-2.amazonaws.com/' + ((book.title.S).replace(" ","+")) + '/cover.jpg'; %>
<div class="book-display" onclick="OpenBook(event, '<%= book.title.S%>', '<%= xtra.booktype%>')">
  <img src="<%= imgurl%>">
  <p><%= book.title.S %></p>
</div>
<%})%>
<%if (typeof bookdata.LastEvaluatedKey != 'undefined'){%>
  <%var publisher = null;
    if (xtra.publisher != null) {
      publisher = xtra.publisher;
    }%>
<button type="button" onclick="FetchMore(event, '<%= xtra.booktype%>', '<%= xtra.idtag%>', '<%= publisher%>')" class="load-button" data-lastkey='<%= JSON.stringify(bookdata.LastEvaluatedKey)%>'>Load More</button>
<%}else {%>
<button type="button" data-lastkey="" disabled>Load More</button>
<%}%>