
<!--
    { rating: { S: '4.77' },
app:book-router   status: { S: 'Updating' },
app:book-router   subtype: { S: 'manga' },
app:book-router   time: { N: '1580701206' },
app:book-router   genre: { S: 'Comedy Shounen Harem Romance School Life Ecchi' },
app:book-router   name: { S: 'bokutachi wa benkyou ga dekinai' },
app:book-router   author: { S: 'TSUTSUI Taishi' },
app:book-router   type: { S: 'manga' },
app:book-router   title: 'Bokutachi Wa Benkyou Ga Dekinai',
app:book-router   s3link:
app:book-router    'https://domkie-booket.s3-us-west-2.amazonaws.com/Bokutachi+Wa+Benkyou+Ga+Dekinai/',
app:book-router   sum:
app:book-router    'The manga centers on Yuiga, a student studying for his college entrance exams. One day two beautiful young women appear before him.\r\n',
app:book-router   chaplist:
app:book-router    '{\r\n  "chapterlist": [\r\n    "Chapter 001  Question Genius and X are Two Sides of the Same Coin",\r\n    "Chapter 002  What are the geniuses aspirations",\r\n 
"Chapter 003  The Geniuses Visiting is a Serious Matter",\r\n ] }

-->
<%var imglink = bookdetail.s3link + 'cover.jpg'%>
<section class="bookpage-section"><!--Book Page secon-->
  <div class="bookpage-head"> <!--BOOK PAGE HEAD-->
    <div class="bookpage-img-cover"><img src="<%= imglink%>" alt="Book Cover"></div>
    <div class="bookpage-detail"><!--BOOKPAGE DETAIL-->
      <p><%= bookdetail.title%></p>
      <p>Author: <%= bookdetail.author.S%></p>
      <p><%= bookdetail.subtype.S%></p>
      <p>Status: <%= bookdetail.status.S%></p>
      <p>Rating: <%= bookdetail.rating.S%> &#10024</p>
    </div><!--BOOKPAGE DETAIL-->
    <div class="genre-sum-div"><!--GENRE SUM DIV-->
      <p><%= bookdetail.genre.S%></p>
      <p><%= bookdetail.sum%></p>
    </div><!--GENRE SUM DIV--> 
  </div><!--BOOK PAGE HEAD-->

  <div class="bookpage-chaplist"> <!--BOOK PAGE CHAP LIST-->
    <% for(let chap of bookdetail.chaplist){%>
      <% var chapprefix = bookdetail.title + '/' + chap%>
      <p onclick="DisplayChapterContent(event ,'<%= chapprefix%>')"><%= chap%></p>
    <%}%>
  </div> <!--BOOK PAGE CHAP LIST-->

  <!--This will be used to display the chapter content-->
  <!--Replaceable div-->
  <div name="chappageContainer" id="bookpage-chapter-content">
    
  </div>
  
</section> <!--Book Page secon-->



<!-- bookpage:js -->
  
  <!-- endinject -->

