<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Domkie</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <script data-ad-client="ca-pub-3062165550077294" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- bookpage:css -->
   <link rel="stylesheet" href="/css/main-6f10f26066.min.css">
   <!-- endinject -->
</head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section id='bookPage'>
      <% var title = bookinfo.Items[0].title.S;
        title = title.replace(" ","+");
        var imgurl = 'https://donkie-booket.s3-us-west-2.amazonaws.com/' + title + '/cover.jpg';
      %>
      <div id='bookPageHead' style="background-image:url('<%= imgurl%>')">
        <%if (bookinfo.Items[0].author.S != " "){%>
        <h3 class='hight-light'><%= bookinfo.Items[0].author.S%></h3>
        <br>
        <%}else {%>  
        <h3 class="hight-light"><%= bookinfo.Items[0].publisher.S%></h3><br>
        <p style='font-size:1.2vw; background-color: rgba(240, 239, 239, 0.7); display:inline-block; clear:both;padding: 0.4%;color:rgb(1, 10, 51);border-radius: 4px;'><%= bookinfo.Items[0].genre.S%></p> <br>
        <!--hr style='width:80%;margin:auto;'-->
        <%}%>
        <p class="hight-light"><%= bookinfo.Items[0].title.S%></p>
        <p style="margin-top:1%;font-size:1.3vw"><%= bookinfo.Items[0].summary.S%></p>
      </div>
    
      <div id='chapList'>
        <% bookchap.CommonPrefixes.forEach(function(prefix, index){
          var chapname = (prefix.Prefix.split('/'))[1];
          %>
          <p onclick="OpenChapter(event, '<%= bookinfo.Items[0].title.S%>', '<%= chapname%>')" class='list-row'><%= chapname%></p>
          <div class="chap-container nodisplay" onclick="ToggleChapReading(event)"></div>
        <%})%>
      </div>
    </section>    

    <!-- bookpage:js -->
      <script async defer type="text/javascript" src="/js/main-3d6688a774.js"></script>
      <!-- endinject -->
  </body>
</html>

