<%
if(listing != null){ %>
  <div class="item-container">
  <%for(var item of listing){ %>
    <div class="items">
      <br>
      <h3><%= item.name%></h3>
      <div class="img-listing-container">
      <%for (var img of item.imglist){
        var imgsrc = 'https://dom-upload.s3-us-west-2.amazonaws.com/' + usersub + '/listing/' + item.name + '/' + img;
      %>
        <img src="<%= imgsrc%>" alt="item image">
      <%}%>
      </div>
      <div class="item-description">
        <p>Email: <%= item.description.email%></p>
        <p>Description: <%= item.description.description%></p>
      </div>
    </div>
    <!--Edit part-->
    <div style="display: none;">
      <form class="upload-form" name="editForm" autocomplete="on">
        <div>
          <label for="email">Email: </label>
          <input type="email" name="editEmail">
        </div>
        <div>
          <label for="description">Description: </label>
          <input type="text" name="editDescription">
        </div>
        <div>
          <label for="file">Item Files</label>
          <input type="file" name="file" accept="image/*" multiple>
        </div>
      </form>
    </div>
    <!--edit part-->
    <div class="button-group">
      <button class="delete-butt" onclick="DeleteObjects(event, '<%= usersub%>', '<%= item.name%>')">Delete</button>
      <button class="edit-butt" onclick="EditListing(event, '<%= usersub%>', '<%= item.name%>')">Edit</button>
      <span class="err-span hidden" ></span>
    </div>

  <%}%>
</div>  
<%}%>