<section id="mangaSection" class="book-section">
  <!--NEW COMING Row-->
  <p class="div-title">New Coming</p>
  <div class="new-coming">

    <%for(let upmanga of introManga.upbook){%>
      <div class="new-book-div" onclick="DisplayBook('manga','<%= upmanga.title%>')">
        <%var imglink = upmanga.s3link + "cover.jpg"%>
        <div class="new-book-img"><img src="<%= imglink%>"> </div>
        <div class="new-book-info">
          <p style='font-weight:600'><%= upmanga.title%></p>
          <p> AUTHOR: <%= upmanga.author.S%></p>
          <p><%= upmanga.sum%></p>

        </div>
      </div>
    <%}%>
  </div> <!--new coming books-->

  <!--Features Row-->
  <p class="div-title">Features</p>
  <div class="featured-book">

    <%for(let featbook of introManga.featbook){%>
      <div class="featured-book-div" onclick="DisplayBook('manga','<%= featbook.title%>')">
        <%var imglink = featbook.s3link + "cover.jpg"%>
        <div class="featured-img"><img src="<%= imglink%>"></div>
        <div class="featured-info">
          <p style="font-weight: 520;"><%= featbook.title%></p>                
        </div>
      </div>
    <%}%>

  </div> <!--featured books-->

  <div class="mangaListing">
    <div class="book-navigation">
      <ul>
        <li>All</li>
        <li>Manga</li>
        <li>Manhwa</li>
        <li>Manhua</li>
      </ul>
    </div> <!--MANGA NAVIGATION-->

    <div id="bookArea">
      <div  class="spinLoading" ></div>
    </div><!--MANGA BOOKS AREA-->
  </div> <!--MANGA LISTING-->

</section>