<section id="mangaSection" class="book-section">

  <!-- BOOK SECTION INTRO IMAGES-->
  <div id="bookSectionCoverImg">
    <img src="img/manban4.jpg" alt="cover-image">
  </div>

  <!--NEW COMING Row-->
  <p class="div-title"> &#127755; New Coming</p>
  <div class="new-coming">

    <%for(let upmanga of introManga.upbook){%>
      <div class="new-book-div" onclick="DisplayBook('manga','<%= upmanga.title%>', true)">
        <%var imglink = upmanga.s3link + "cover.jpg"%>
        <div class="new-book-img"><img src="<%= imglink%>"> </div>
        <div class="new-book-info">
          <p style='font-weight:600'><%= upmanga.title%></p>
          <p> AUTHOR: <%= upmanga.author.S%></p>
          <p><%= upmanga.sum%></p>

        </div>
      </div>
    <%}%>
  </div> <!--new coming books-->

  <!--Features Row-->
  <p class="div-title">&#128293; Features</p>
  <div class="featured-book">

    <%for(let featbook of introManga.featbook){%>
      <div class="featured-book-div" onclick="DisplayBook('manga','<%= featbook.title%>',true)">
        <%var imglink = featbook.s3link + "cover.jpg"%>
        <div class="featured-img"><img src="<%= imglink%>"></div>
        <div class="featured-info">
          <p style="font-weight: 520;"><%= featbook.title%></p>                
        </div>
      </div>
    <%}%>

  </div> <!--featured books-->

  <div class="mangaListing">
    <div class="book-navigation">
      <ul id='mangaNaviUl'>
        <li onclick="SortbySubtype(event, 'manga', 'all', null)" style="color: brown;font-size: 1.3em;">All</li>
        <li onclick="SortbySubtype(event, 'manga', 'manga', null)">Manga</li>
        <li onclick="SortbySubtype(event, 'manga', 'manhwa', null)">Manhwa</li>
        <li onclick="SortbySubtype(event, 'manga', 'manhua', null)">Manhua</li>
      </ul>
    </div> <!--MANGA NAVIGATION-->
    <div>
      <%- include('./search-form.ejs')%>
    </div>

    <div class="book-genre-navi">
      <ul id='mangaGenreUl'>
        <li onclick="SortbyGenre(event, 'manga', 'Action')">Action</li>
        <li onclick="SortbyGenre(event, 'manga', 'Sport')">Sport</li>
        <li onclick="SortbyGenre(event, 'manga', 'Comedy')">Comedy</li>
        <li onclick="SortbyGenre(event, 'manga', 'Adventure')">Adventure</li>
        <li onclick="SortbyGenre(event, 'manga', 'Fantasy')">Fantasy</li>
        <li onclick="SortbyGenre(event, 'manga', 'Supernatural')">Supernatural</li>
        <li onclick="SortbyGenre(event, 'manga', 'Ecchi')">Ecchi</li>
      </ul>
    </div> <!--MANGA GENRE-->

    <div id="bookArea">
      <div  class="spinLoading" ></div>
    </div><!--MANGA BOOKS AREA-->
  </div> <!--MANGA LISTING-->

</section>